In [1]:
import mysql.connector as connector

In [3]:
# storing connection credentials to variables so that updates can occur outside of connection line
user = "yourusername"
password = "yourpassword"
host = "127.0.0.1"
port = "3306"
database = "litlemdb"

# Establishing connection by passing cred variables to connect function, handling error with try with: 
try:
    connection = connector.connect(
        user = user,
        password = password,
        host = host,
        port = port,
        database = database
    )
    print("connection sucessful")

except connector.Error as error:
    print(f"error while connecting to Mysql; {error}")

connection sucessful

In [4]:
# running test query to ensure that connection to mysql occured
show_table_query = """ SHOW TABLES """

# store connection to cursor object
cursor = connection.cursor()

# execute the query via cursor object
cursor.execute(show_table_query)
results = cursor.fetchall()

# printing table to ensure we connected to the right database and are pulling the correct tables
for result in results:
    print(result)

('Address',)
('Booking',)
('Customer',)
('Menu',)
('Order Menu Items',)
('Orders',)
('ordersview',)
('Staff',)

In [14]:
sql_query_join = """ 
SELECT
CONCAT(c.CustomerFirstName, " ", c.CustomerLastName) as CustomerFullName 
, c.Email
, c.ContactNumber
, o.TotalPrice
FROM Customer c
JOIN Booking b ON c.CustomerID = b.CustomerID
JOIN Orders o ON b.BookingID = o.BookingID
WHERE o.Totalprice > 60;
"""
# execute the query
cursor.execute(sql_query_join)

# fetch the results
results = cursor.fetchall()


for result in results:
    print(f"Name: {result[0]}, Email: {result[1]}, Contact: {result[2]}, Bill Amount: {result[3]}")

Name: John Doe, Email: john.doe@example.com, Contact: -4135, Bill Amount: 66
Name: Tom Brown, Email: tom.brown@example.com, Contact: -8913, Bill Amount: 78
Name: Laura Davis, Email: laura.davis@example.com, Contact: -9135, Bill Amount: 66
Name: Emma Hernandez, Email: emma.hernandez@example.com, Contact: -2913, Bill Amount: 100